$gold: #956E29;
.card {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #DEDEDF;

	h4 {
		color: $gold;
		text-transform: uppercase;

		&:hover {
			color: darken($gold, 5%);
		}
	}
	p {
		color: #111;

		&:last-child {
			font-weight: 700;
		}
	}
	.category {
		color: $gold;
		text-transform: uppercase;
	}
}