$gold: #956E29;
.card {
	padding-top: 5px;
	padding-bottom: 5px;
	background: #232323;
	border: 10px solid #fff;

	h4 {
		color: $gold;
		text-transform: uppercase;

		&:hover {
			color: darken($gold, 5%);
		}
	}
	p {
		color: #efefef;

		&:last-child {
			font-size: 85%;
			font-weight: 700;
		}
	}
	.category {
		color: $gold;
		text-transform: uppercase;
	}
}