.card {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #eee;

	h4 {
		color: #333;
		text-transform: uppercase;

		&:hover {
			color: #111;
		}
	}
	p {
		color: #111;

		&:last-child {
			font-weight: 700;
		}
	}
}